<div class="container-fluid">
  <div class="row">
    <!-- Sidebar Component -->
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content Area including Navbar -->
    <div class="col-md-10 px-0">
      <!-- Navbar Component -->
      <app-header></app-header>

      <!-- Main Content Below Navbar -->
      <main role="main" class="pt-3">
        <!-- Your main content goes here -->
        <router-outlet></router-outlet>
      </main>
    </div>
    
  </div>
</div>
