
<div class="container mt-4">
    <div class="row">
      <!-- Savings Account Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Savings Account</h5>
            <p class="card-text">Balance: $XXX.XX</p>
            <a href="#" class="btn btn-primary">Manage Account</a>
          </div>
        </div>
      </div>
  
      <!-- Current Account Card -->
      <!-- Similar structure to Savings Account Card -->
      <!-- Current Account Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Current Account</h5>
            <p class="card-text">Balance: $XXX.XX</p>
            <a href="#" class="btn btn-primary">Manage Account</a>
          </div>
        </div>
      </div>
  
      <!-- Fixed Deposit (FD) Account Card -->
      <!-- Similar structure to Savings Account Card -->
      <!-- FD Account Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FD Account</h5>
            <p class="card-text">Balance: $XXX.XX</p>
            <a href="#" class="btn btn-primary">Manage Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  